@import "tailwindcss";

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@theme {
    --color-primary: #9A33DE;
    --text-primary: #9A33DE;
    --text-secondary: #344054;
}