@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@theme {
    --color-primary: #9A33DE;
    --color-secondary: #344054;
    --color-text-primary: #9A33DE;
    --color-text-secondary: #344054;
    --color-text-muted: #98A2B3;
    --breakpoint-lg: 1025px;

    --color-dark-background: #1a1a1a;
    --color-dark-primary: #1E2939;
    --color-text-dark-secondary: #131820;
}

html, body {
    font-family: 'Nunito', sans-serif;
    color: var(--color-text-secondary);
    margin: 0;
    padding: 0;
}