---
import Carousel from "./Carousel.astro";


---

<section id="projects" class="min-h-max mx-3 mb-20">
    <h2 class="text-4xl font-bold mb-4">Lets have a look at my <span class="text-text-primary">Portfolio</span></h2>
    <Carousel/>
</section>