---
import Carousel from "./Carousel.astro";
import CarouselDesktop from "./CarouselDesktop.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<section id="projects" class="min-h-max mb-40 lg:mx-20">
    <h2 class="text-4xl font-bold mb-10 md:text-5xl lg:mb-20 lg:text-7xl">{t("portfolio.title")} <span class="text-text-primary">{t("hero.portfolio")}</span></h2>
    <Carousel/>
    <CarouselDesktop/>
</section>