---
import Carousel from "./Carousel.astro";
import CarouselDesktop from "./CarouselDesktop.astro";


---

<section id="projects" class="min-h-max mb-40 lg:mx-20">
    <h2 class="text-4xl font-bold mb-10 md:text-5xl lg:mb-20 lg:text-7xl">Lets have a look at my <span class="text-text-primary">Portfolio</span></h2>
    <Carousel/>
    <CarouselDesktop/>
</section>