---
import DecisionIcon from "../icons/DecisionIcon.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="why-hire-me" class="flex min-h-1/2 mb-20 py-12 px-5 overflow-hidden bg-text-muted/20 md:space-x-15 lg:min-h-full lg:py-40 lg:space-x-25 lg:flex lg:justify-center">
  <div class="basis-1/2 max-w-1/2 min-h-full rounded-2xl hidden md:flex justify-center items-center lg:basis-1/4">
    <div
      class="w-full h-full bg-primary rounded-4xl relative flex justify-center items-center lg:h-3/4 lg:w-3/4"
    >
      <DecisionIcon size={250} class="text-primary mb-4" />
    </div>
  </div>
  <div class="basis-full flex flex-col justify-center space-y-6 lg:basis-1/4">
    <h2 class="text-4xl font-bold text-center dark:text-text-dark-secondary md:text-5xl lg:text-7xl">
      {t("whyhireme.question")} <span class="text-text-primary">{t("whyhireme.hireme")}</span>?
    </h2>
    <p class="mt-5 mb-10 text-lg text-center dark:text-text-dark-secondary lg:text-xl">
      {t("whyhireme.description")}
    </p>
    <a
      href="mailto:danielSerna127@outlook.com"
      class="px-2 py-6 bg-black text-white font-bold border-2 text-xl rounded-2xl text-center lg:text-2xl lg:bg-transparent lg:text-black lg:border hover:text-white hover:bg-black transition-all duration-300 ease-in-out"
      >{t("hero.hireme")}</a
    >
  </div>
</section>
