---
import DecisionIcon from "../icons/DecisionIcon.astro";
---

<section id="why-hire-me" class="flex min-h-1/2 mb-20 py-12 px-5 overflow-hidden bg-text-muted/20 md:space-x-15 lg:min-h-full lg:py-40 lg:space-x-25 lg:flex lg:justify-center">
  <div class="basis-1/2 max-w-1/2 min-h-full rounded-2xl hidden md:flex justify-center items-center lg:basis-1/4">
    <div
      class="w-full h-full bg-primary rounded-4xl relative flex justify-center items-center lg:h-3/4 lg:w-3/4"
    >
      <DecisionIcon size={250} class="text-primary mb-4" />
    </div>
  </div>
  <div class="basis-full flex flex-col justify-center space-y-6 lg:basis-1/4">
    <h2 class="text-4xl font-bold text-center md:text-5xl lg:text-7xl">
      Why <span class="text-text-primary">Hire Me</span>?
    </h2>
    <p class="mt-5 mb-10 text-lg text-center text-secondary lg:text-xl">
      Frontend-focused software engineer passionate about performance, SEO, and
      building fast, reliable user interfaces. I enjoy turning complex
      requirements into clean, maintainable solutions that create real impact.
    </p>
    <a
      href="mailto:danielSerna127@outlook.com"
      class="px-2 py-6 bg-black text-white font-bold border-2 text-xl rounded-2xl text-center lg:text-2xl lg:bg-transparent lg:text-black lg:border hover:text-white hover:bg-black transition-all duration-300 ease-in-out"
      >Hire Me</a
    >
  </div>
</section>
