<div
  id="modal"
  class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
>
  <div class="bg-white p-6 rounded-lg">
    <slot />
    <button id="closeModal">Close</button>
  </div>
</div>
